<div class="container">
  <!-- <br /> -->
  <br />
  {{ hero | json }}

  <div class="col-md-12 ; mx-auto">
    <div class="row">
      <div *ngIf="edit; else elseBlock">
        <div class="col-md-10  ">
          <mat-card>
            <angular-editor
              [config]="editorConfig"
              [ngModel]="draft"
            ></angular-editor>
          </mat-card>
        </div>
        <div class="col-md-2  ">
          <mat-card>
            <div class="row; text-center ">
              <div class="col-md-12;mx-auto  ">
                <button mat-button>
                  <mat-icon (click)="this.editT()">edit</mat-icon>
                </button>
                <button mat-button>
                  <mat-icon (click)="this.editF()">refresh</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="col-md-10  ">
          <mat-card>
            {{ draft }}
          </mat-card>
        </div>

        <div class="col-md-2  ">
          <mat-card>
            <div class="row; text-center ">
              <div class="col-md-12;mx-auto  ">
                <button mat-button>
                  <mat-icon (click)="this.editT()">edit</mat-icon>
                </button>
                <button mat-button>
                  <mat-icon  (click)="this.editF()">refresh</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-template>
    </div>
  </div>
</div>
