<div class="container">
  <!-- <br /> -->
  <br />
  {{ hero | json }}

  <div class="col-md-12 ; mx-auto">
    <div class="row">
      <div *ngIf="edit; else elseBlock">
        <div class="col-md-10  ">
          <mat-card>
            <angular-editor
              [config]="editorConfig"
              [ngModel]="swapped"
            ></angular-editor>
          </mat-card>
        </div>
     </div>
        <div class="col-md-2  ">
          <mat-card>
            <div class="row; text-center ">
		    <mat-button-toggle-group #group="matButtonToggleGroup">
              <mat-button-toggle>
                <mat-icon (click)="this.editT()">edit</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle>
                <mat-icon (click)="this.refresh(hero)">refresh</mat-icon>
              </mat-button-toggle>
		    </mat-button-toggle-group >
            </div>
          </mat-card>
        </div>

      <ng-template #elseBlock>
        <div class="col-md-10  ">
          <mat-card>
            {{ draft }}
          </mat-card>
        </div>

        <!--   <div class="col&#45;md&#45;2  "> -->
        <!--     <mat&#45;card> -->
        <!--       <div class="row; text&#45;center "> -->
        <!--         <div class="col&#45;md&#45;12;mx&#45;auto  "> -->
        <!--           <mat&#45;button&#45;toggle> -->
        <!--             <mat&#45;icon (click)="this.editT()">edit</mat&#45;icon> -->
        <!--           </mat&#45;button&#45;toggle> -->
        <!--           <button mat&#45;button> -->
        <!--             <mat&#45;icon (click)="this.editF()">refresh</mat&#45;icon> -->
        <!--           </button> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--     </mat&#45;card> -->
        <!--   </div> -->
      </ng-template>
    </div>
  </div>
</div>
